* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

header {
    background: #F8F7EE;
}

.hlavicka {
    margin-left: 40px;
    margin-right: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 48px;
    width: 185px;
}

.menu_header {
    margin-top: 32px;
    display: flex;
    list-style: none;
}

.menu_header li {
    margin-right: 48px;
}

.menu_header li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #0A0A23;
    align-items: center;
}

.header_map img {
    position: absolute;
    opacity: 0.8;
    width: 586px;
    right: 10px;
    top: 150px;
}

.header_map div {
    position: absolute;
}

.title {
    margin-top: 72px;
    font-family: 'Oskar Inline';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 75%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header .subtitle {
    max-width: 840px;
    margin-top: 40px;
}

header .subtitle span {
    font-weight: 700;
}

header .btn_transparent {
    color: #0A0A23;
    border: 1px solid #0A0A23;
    border-radius: 4px;
}

header .btns {
    margin-top: 96px;
    padding-bottom: 80px;
}
/*************** subnav***************/

.subnav_project {
    padding: 0px 8px 0px 0px;
    margin-top: 24px;
    position: absolute;
    background: #F8F7EE;
    z-index: 4;
    visibility: hidden;
    transition: 0.5s;
    
}

.subnav_project li {
    position: relative;
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 24px;
    display: block;
    z-index: 4;
}

.subnav_project li:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    color: #FFFFFF;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
}

/*************** DNA***************/
.DNA {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}

.DNA p{
    max-width: 550px;
    margin-right: 50px;
    margin-bottom: 32px;
}

.DNA span {
    font-weight: 700;
}

.dna_growth {
    padding-bottom: 160px;
    margin-bottom: 40px;
    background-image: url("../images/DNA\ 1.svg");
    background-repeat: repeat-x;
}

/* <!----------------- timing Matters  -------------------------> */

.timing h1{
    padding-top: 65px;
}

.timing p {
    margin-right: 50px;
    margin-top: 37px;
    max-width: 550px;
}

.vision {
    margin-top: 24px;
}

.vision .flex_row {
    align-items: flex-start;
}

.vision .flex_row div {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
    margin-bottom: 8px;
}

.time0 {
    
    background-image:url("../images/time 1.svg");
    background-repeat: repeat-x;
    margin-top: 64px;
    padding-bottom: 98px;
}

.time0 img {
    position: relative;
    z-index: 100;
}

.developer {
    position: relative;
    padding-bottom: 88px;
}

.developer .flex_wrap {
    justify-content: space-between;
}

.lava img {
    position: absolute;
    left: 0px;
    top: -300px;
    z-index: 10;
}

.lava h3 {
    margin-top: 531px;
}

.developer h3 {
    margin-bottom: 40px;
}

.prava .width_550 {
    margin-top: 88px;
}



/* <!----------------- Passionate future/our values  ------------------> */

.pas_future h2 {
    color: #FFF;
    margin-right: 50px;
}

.pas_future {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}

.pas_future .subtitle{
    max-width: 600px;
    color: #FFF;
}

.maldives {
    width: 100%;
    display: block;
}

.our_values {
    padding-top: 60px;
    padding-bottom: 82px;
    position: relative;
}

.our_values .subtitle, .our_values h1, .our_values h3  {
    color: #FFF;
}

.our_values .width_550 {
    margin-top: 72px;
}

.our_values h3 {
    margin-bottom: 40px;
}

.our_values .flex_wrap {
    justify-content: space-between;
}

.atol_map2 {
    position: absolute;
    top: 50px;
    left: 50px;
}

/* <!----------------- Opportunities  ------------------> */

.opportunity h1{
    margin-top: 72px;
}

.opportunity p {
    max-width: 842px;
    margin-bottom: 56px;
    margin-top: 40px;
}

.opportunity .flex_row {
    justify-content: space-between;
    margin-bottom: 40px;
}

.work_position {
    width: 373px;
    padding: 24px 24px 40px;
    background: #F8F7EE;
    border-radius: 4px;
}

.work_place p {
    color: #727169;
    margin-right: 23px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.work_place {
    align-items: baseline;
}

.work_position .flex_row {
    justify-content: flex-start;
}

.work_position .btn_transparent {
    border: 1px solid #727169;
    padding: 12px 40px 14px;
    color: #727169;
}

.oport_button {
    display: flex;
    justify-content: space-around;
}

/************************* Footer*************************/

.container_footer {
    margin: 48px 0;
    padding: 0 48px;
}

.footer_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_logo_line {
    display: flex;
    flex-direction: column;
}

.footer_logo_line img {
    width: 122.31px;
    margin-right: 132px;
}

.menu_footer {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.menu_footer a {
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
    text-decoration: none;
    margin-right: 48px;
    
}

.footer_main {
    display: flex;
}

.adress_footer {
    width: 134px;
    margin-top: 23px;
    margin-right: 76px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
    display: flex;
    flex-direction: column;
}

.adress_footer span {
    font-weight: 700;
}

.submenu_footer {
    list-style-type: none;
    margin-top: 23px;
}

.submenu_footer li{
    margin-bottom: 10px;
}

.submenu_footer li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.podmienky {
    display: flex;
    max-width: 411px;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 81px;
}

.podmienky li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.copyrights {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #727169;
    margin-top: 15px;
}
































/***************************Reusable*******************************/
.flex_column {
    display: flex;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.blue_background {
    background: #0A0A23;
}


.yellow_background {
    background: #F8F7EE;
}

.width_550 {
    max-width: 550px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    padding-bottom: 85px;
}

.btns .btn_yellow {
    margin-right: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.btn_yellow {
    display: inline-block;
    text-align: center;
    padding: 14px 40px 12px;
    background: #F9D248;
    border-radius: 4px;
    text-decoration: none;
    color: #0A0A23;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    transition: 0.5s;
}

.btn_yellow:link
.btn_yellow:visited {
    background: #FEF6DA;
    color: #B1B0A4;
}

.btn_yellow:hover,
.btn_yellow:active {
    background: #FFBC11;
    
}

.btn_transparent{
    padding: 14px 40px 12px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #0A0A23;
    text-decoration: none;
    border: 1px solid #0A0A23;
    border-radius: 4px;     
}

.btn_transparent:link
.btn_transparent:visited {
    opacity: 0.5;
}

h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 95%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 90%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 95%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}