* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}



/*************** hlaviÄka ***************/

header {
    background: #0A0A23;
}

.hlavicka {
    margin-left: 40px;
    margin-right: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}

.logo {
    margin-top: 48px;
}

.menu_header {
    margin-top: 52px;
    display: flex;
    list-style: none;
}

.menu_header li {
    margin-right: 48px;
    background-color: #0A0A23;
}

.menu_header li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    align-items: center;
}

.header_map img {
    position: absolute;
    opacity: 0.8;
    width: 586px;
    right: 10px;
    top: 150px;
    z-index: 1;
}

.title {
    margin-top: 72px;
    color: #FFFFFF;
    font-family: 'Oskar Inline';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 75%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
}

header .subtitle {
    margin-top: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .btn_transparent {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

header .btns {
    margin-top: 96px;
    padding-bottom: 100px;
}
/*************** subnav***************/

.subnav_project {
    padding: 0px 8px 0px 0px;
    margin-top: 24px;
    position: absolute;
    background-color: #0A0A23;
    z-index: 4;
    visibility: hidden;
    transition: 0.5s;
    
}

.subnav_project li {
    position: relative;
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 24px;
    display: block;
    z-index: 4;
}

.subnav_project li:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    color: #FFFFFF;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
}


/*************** Investement climate***************/
.invest_climate {
    display: flex;
    margin-top: 100px;
}

.invest_climate_txt {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #0B274D;
    margin-right: 50px;
    max-width: 600px;
}

.invest_climate .subtitle {
    max-width: 600px;
}





/*************** Investement strategies***************/
.investment {
    position: relative;
}

.investment_text1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #B1B0A4;
    margin-top: 40px;
    margin-bottom: 72px;
}

.doers {
    max-width: 550px;
}

.investment .doers h3 {
    margin-bottom: 40px;
}

.investment h3 {
    margin-top: 72px;
    margin-bottom: 64px;
}

.invest_mapa {
    display: flex;
}

.invest_mapa img {
    position: absolute;
    top: 0px;
    right: 0;
}

.ciara_img img {
    position: absolute;
    top: 535px;
    max-width: 1250px;
    right: 340px;
}

.ciarka_img {
    position: absolute;
    top: 670px;
    right: 280px;
}

.map_pin {
    top: 640px;
    right: 265px;
    position: absolute;
}

.invest_kocka {
    width: 373.33px;
    border: 2px dashed #0B274D;
    border-radius: 4px;
    padding: 40px 24px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.invest_kocka img {
    width: 64px;
}

.invest_kocka p {
    margin-top: 24px;
}

.invest_kocka h4 {
    margin-top: 24px;
}

.invest_thesis {
    margin-top: 32px;
    display: flex;
    position: relative;
}

.invest_thesis h2 {
    margin-top: 50px;
}

.thesis_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #0B274D;
    border-radius: 4px;
    padding: 48px;
    max-width: 720px;
    font-family: 'Roboto Slab';
}

.islands {
    width: 100%;
    margin-top: -6rem;
    display: block;
}


/*************** Cryptocurrency projects ***************/


.projects {
    margin-top: 72px;
}

.projects_p {
    max-width: 840px;
    margin-top: 40px;
}

.container-box {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}


.kocka {
    width: 373.33px;
    background-color: #14488C;
    border-radius: 4px;
    padding: 40px 24px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.kocka img {
    width: 64px;
}

.kocka p {
    color: #FFFFFF;
    margin-top: 24px;
}

.kocka h4 {
    color: #FFFFFF;
    margin-top: 24px;
}

.market_making {
    margin-right: 0;
}

.arrow {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.arrow img {
    width: 32px;
}


/*************** Impact***************/

.impact {
    background: #0A0A23;
    border-radius: 4px;
    padding-left: 40px;
    padding-bottom: 70px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.impact_text {
    max-width: 724px;
}

.impact h2 {
    margin-top: 72px;
    color: #FFFFFF;
}

.impact .subtitle {
    margin-top: 40px;
    color: #FFFFFF;
}

.belive {
    margin-bottom: 80px;
    margin-top: 88px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    opacity: 0.6;
}

.impact img {
    margin-left: 24px;
    position: absolute;
    opacity: 0.8;
    bottom: -40px;
    width: 700px;
}

/*************************** Team*******************************/

.zlte_pozadie {
    margin-top: 107px;
    padding-top: 72px;
    background: #F8F7EE;
    position: relative;
}

.team p {
    margin-top: 55px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #727169;
}

.team_members {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
}

.team_member {
    margin-top: 40px;
    margin-right: 80px;
    display: flex;
    
}

.team_member img {
    width: 80px;
}

.member_info {
    margin-left: 23px;
}

.name {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #000000;
}

.position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
}

.member_info a img {
    width: 16px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    padding-bottom: 85px;
}

.btns .btn_yellow {
    margin-right: 24px;
}

/************************* Footer*************************/

.container_footer {
    margin: 48px 0;
    padding: 0 48px;
}

.footer_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_logo_line {
    display: flex;
    flex-direction: column;
}

.footer_logo_line img {
    width: 122.31px;
    margin-right: 132px;
}

.menu_footer {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.menu_footer a {
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
    text-decoration: none;
    margin-right: 48px;
    
}

.footer_main {
    display: flex;
}

.adress_footer {
    width: 134px;
    margin-top: 23px;
    margin-right: 76px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
    display: flex;
    flex-direction: column;
}

.adress_footer span {
    font-weight: 700;
}

.submenu_footer {
    list-style-type: none;
    margin-top: 23px;
}

.submenu_footer li{
    margin-bottom: 10px;
}

.submenu_footer li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.podmienky {
    display: flex;
    max-width: 411px;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 81px;
}

.podmienky li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.copyrights {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #727169;
    margin-top: 15px;
}


/***************************Reusable*******************************/
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* z-index: 1; */
}

.btn_yellow {
    display: inline-block;
    text-align: center;
    padding: 14px 40px 12px;
    background: #F9D248;
    border-radius: 4px;
    text-decoration: none;
    color: #0A0A23;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    transition: 0.5s;
}

.btn_yellow:link
.btn_yellow:visited {
    background: #FEF6DA;
    color: #B1B0A4;
}

.btn_yellow:hover,
.btn_yellow:active {
    background: #FFBC11;
    
}

.btn_transparent{
    padding: 14px 40px 12px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #0A0A23;
    text-decoration: none;
    border: 1px solid #0A0A23;
    border-radius: 4px;     
}

.btn_transparent:link
.btn_transparent:visited {
    opacity: 0.5;
}

h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 95%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 90%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 95%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}