* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}



/*************** hlaviÄka ***************/
header {
    background: #0A0A23;
}

.hlavicka {
    margin-left: 40px;
    margin-right: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 48px;
}

.menu_header {
    margin-top: 52px;
    display: flex;
    list-style: none;
}

.menu_header li {
    margin-right: 48px;
    background-color: #0A0A23;
}

.menu_header li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    align-items: center;
}

.header_map img {
    position: absolute;
    opacity: 0.8;
    width: 586px;
    left: 800px;
    top: -25px;
}

.header_map div {
    position: absolute;
}

header .subtitle {
    max-width: 840px;
}

.title {
    margin-top: 72px;
    color: #FFFFFF;
    font-family: 'Oskar Inline';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 75%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header .subtitle {
    margin-top: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .btn_transparent {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

header .btns {
    margin-top: 96px;
    padding-bottom: 100px;
}

/*************** subnav***************/

.subnav_project {
    padding: 0px 8px 0px 0px;
    margin-top: 24px;
    position: absolute;
    background-color: #0A0A23;
    z-index: 4;
    visibility: hidden;
    transition: 0.5s;
    
}

.subnav_project li {
    position: relative;
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 24px;
    display: block;
    z-index: 4;
}

.subnav_project li:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    color: #FFFFFF;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
}

/*************** Not a traditional***************/
.not_traditional {
    display: flex;
    margin-top: 100px;
    margin-bottom: 168px;
}

.not_traditional .subtitle {
    max-width: 600px;
}

#traditional_ciara {
    position: absolute;
    top: 89px;
    left: 137px;
}

#traditional_islands{
    position: absolute;
    top: 70px;
}

.we_belive_box {
    background: #0B274D;
    border-radius: 4px;
    max-width: 550px;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 40px;
    position: relative;
    height: 364px;
}

.we_belive_box span {
    color: #73CFD9;
}

.belive_box_number {
    position: absolute;
    font-family: 'Oskar Inline';
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 75%;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.1;
    bottom: 0;
    right: 0;
    }

.belive_box_right {
    margin-left: 650px;
    
    }

/*************************** reaching world*****************************/
.reaching_world {
    margin-top: 294px;
    background: #14488C;
    border-radius: 4px;
    display: flex;
}

.reaching_l {
    padding: 72px 42px;
    position: relative;
}

.reaching_l h2 { 
    margin-right: 32px;
}

.reaching_l img{
    position: absolute;
    top: 0;
}

.reaching_world h2,p {
    color: #FFFFFF;
}

.reach_adress {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 64px;
    margin-left: 48px;
}

.reach_adress img {
    left: 28px;
    top: 228px;
}

.reaching_form .explainer {
    color: #FFFFFF;
}

.reaching_form .btn_yellow {
    color: #14488C;
}

.reaching_form input[type=text], input[type=email], textarea {
    padding: 8px 16px;
}

.reaching_form .flex_column *{
    margin-bottom: 24px;
}

.reaching_form .privacy_policy {
    color: #FFFFFF;
}

.reaching_p {
    position: relative;
}

.reaching_p #about_map {
    vertical-align: middle;
}

#about_map_pin {
    position: absolute;
    top: 462px;
    left: 147px;
}

.reaching_p p {
    position: absolute;
    color: #FFFFFF;
    margin-top: 72px;
    margin-left: 48px;
    margin-right: 48px;
}
/*************************** Team*******************************/

.zlte_pozadie {
    margin-top: 107px;
    padding-top: 72px;
    background: #F8F7EE;
    position: relative;
}

.team {
    margin-top: 72px;
}

.team p {
    margin-top: 55px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #727169;
}

.team_members {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
}

.team_member {
    margin-top: 40px;
    margin-right: 80px;
    display: flex;
    
}

.team_member img {
    width: 80px;
}

.member_info {
    margin-left: 23px;
}

.name {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.035em;
    color: #000000;
}

.position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
}

.member_info a img {
    width: 16px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    padding-bottom: 85px;
}

.btns .btn_yellow {
    margin-right: 24px;
}

/************************* Footer*************************/

.container_footer {
    margin: 48px 0;
    padding: 0 48px;
}

.footer_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_logo_line {
    display: flex;
    flex-direction: column;
}

.footer_logo_line img {
    width: 122.31px;
    margin-right: 132px;
}

.menu_footer {
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}

.menu_footer a {
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
    text-decoration: none;
    margin-right: 48px;
    
}

.footer_main {
    display: flex;
}

.adress_footer {
    width: 134px;
    margin-top: 23px;
    margin-right: 76px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
    display: flex;
    flex-direction: column;
}

.adress_footer span {
    font-weight: 700;
}

.submenu_footer {
    list-style-type: none;
    margin-top: 23px;
}

.submenu_footer li{
    margin-bottom: 10px;
}

.submenu_footer li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.podmienky {
    display: flex;
    max-width: 411px;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 81px;
}

.podmienky li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #727169;
}

.copyrights {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #727169;
    margin-top: 15px;
}




/***************************Reusable*******************************/
.flex_right {
    display: flex;
    align-items: flex-end;
}

.flex_space_between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.blue_background {
    background: #0A0A23;
}


.yellow_background {
    background: #F8F7EE;
}

.width_550 {
    max-width: 550px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 88px;
    padding-bottom: 85px;
}

.btns .btn_yellow {
    margin-right: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.btn_yellow {
    display: inline-block;
    text-align: center;
    padding: 14px 40px 12px;
    background: #F9D248;
    border-radius: 4px;
    text-decoration: none;
    color: #0A0A23;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    transition: 0.5s;
}

.btn_yellow:link
.btn_yellow:visited {
    background: #FEF6DA;
    color: #B1B0A4;
}

.btn_yellow:hover,
.btn_yellow:active {
    background: #FFBC11;
    
}

.btn_transparent{
    padding: 14px 40px 12px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #0A0A23;
    text-decoration: none;
    border: 1px solid #0A0A23;
    border-radius: 4px;     
}

.btn_transparent:link
.btn_transparent:visited {
    opacity: 0.5;
}

h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 90%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 95%;
    letter-spacing: 0.05em;
    color: #2C2C29;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 90%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}
h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 95%;
    letter-spacing: 0.035em;
    color: #2C2C29;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}

.explainer {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2C2C29;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
